.btn {
    cursor         : pointer;
    text-decoration: none;
    background     : white;
    border         : 1px solid #ccc;

    .fontface & {
        font-family: Noto Sans;
    }
}

.btn.call-to-action {
    display   : inline-block;
    height    : 35px;
    font      : 400 16px/35px helvetica, Helvetica Neue, arial, sans-serif;
    padding   : 0 18px;
    color     : #ffffff;
    background: #428bca;
    border    : 1px solid transparent;

    &:hover {
        background  : #3276b1;
        border-color: #285e8e;
    }

    .borderradius & {
        @include border-radius(4px);
    }
}